.upl1{
    /* box-shadow: 5px 5px 10px rgba(177, 173, 173, 0.849); */
    /* border-radius: 5px; */
    margin: 10px auto;
    padding: 20px;
}

/* .space1{
    box-shadow: 5px 5px 10px rgba(177, 173, 173, 0.849);
} */

form{
    margin: 15px;
}

.mb-4{
    margin-top: 20px auto;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.projects-header{
    font-size: 30px;
}

.container{
    margin: 0px;
}

.buton{
    border: none;
}

.submitimg{
    height: 100px;
    width: 100px;
}

#bike{
    margin-top: 15px;
    border-top-right-radius: 25px;
}

.classname {
    position: relative;
    -webkit-animation: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
}
  
@-webkit-keyframes run {
    0% {
      transform: rotate(-30deg);
      left: 0;
    }
    45%{
        transform: rotate(0deg);
        left: 45%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 88%;    
    }
}



.card-list {
    width: 100%;
  }
  .card-list:before, .card-list:after {
    content: " ";
    display: table;
  }
  .card-list:after {
    clear: both;
  }
  
  .card {
    border-radius: 8px;
    color: white;
    padding: 10px;
    position: relative;
  }
  .card .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
  }
  .card .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 8px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .card .title {
    display: inline-block;
    font-size: 15px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }
  .card .value {
    font-size: 25px;
    padding: 0 10px;
  }
  .card.blue {
    background-color: #2298F1;
  }
  .card.green {
    background-color: #66B92E;
  }
  .card.orange {
    background-color: #DA932C;
  }
  .card.red {
    background-color: #D65B4A;
  }

  .projects {
    background-color: #ffffff;
    border: 1px solid #313D4F;
    overflow-x: auto;
    width: 100%;
  }
  .projects-inner {
    border-radius: 4px;
  }

  .projects-header {
    color: #738297;
    padding: 22px;
  }
  .projects-header .count,
  .projects-header .title {
    display: inline-block;
  }
  .projects-header .count {
    color: #738297;
  }
  .projects-header .zmdi {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 5px 0;
  }
  .projects-header .title {
    font-size: 21px;
  }
  .projects-header .title + .count {
    margin-left: 5px;
  }
  
  .projects-table {
    background: #ffffff;
    width: 100%;
  }
  .projects-table td,
  .projects-table th {
    color: #738297;
    padding: 5px 5px;
    vertical-align: middle;
  }
  .projects-table td p {
    font-size: 15px;
  }
  .projects-table td p:last-of-type {
    color: #738297;
    font-size: 15px;
  }
  .projects-table th {
    background-color: #ffffff;
  }
  .projects-table tr:hover {
    background-color: #ffffff;
  }
  .projects-table tr:not(:last-of-type) {
    border-bottom: 1px solid #313D4F;
  }
  .projects-table .member figure,
  .projects-table .member .member-info {
    display: inline-block;
    vertical-align: top;
  }
  .projects-table .member figure + .member-info {
    margin-left: 7px;
  }
  .projects-table .member img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  .projects-table .status > form {
    float: right;
  }
  .projects-table .status-text {
    display: inline-block;
    font-size: 12px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;
  }
  .projects-table .status-text:before {
    border: 3px solid;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 14px;
  }

  
  