table{
    margin-top: 10px;
}

tr, th{
    margin: 10px;
    border: 1px solid black;
}

td{
    height: 100px;
    width: 180px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

.but1{
    margin: 10px;
}